[Unit]
Description=modelserver daemon
After=network.target

[Service]
Type=simple
# the specific user that our service will run as
User=someuser
Group=someuser
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
WorkingDirectory=/home/someuser/citelearn/modelserver/app
ExecStart=/home/someuser/venvs/citelearn/bin/python main.py
ExecReload=/bin/kill -s HUP $MAINPID
Environment="PATH=/home/someuser/venvs/citelearn/bin"
EnvironmentFile=/home/someuser/citelearn/app.env.prod
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target